<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="taller.molroj.emergencia.ampaciente">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_paciente"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Presentacion.Principal"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Servicio.Servicio"
            android:enabled="true"
            android:exported="true"></service>

        <activity
            android:name=".Presentacion.Registrar"
            android:label="@string/title_activity_registrar"></activity>
        <activity
            android:name=".Presentacion.Opciones"
            android:label="@string/title_activity_opciones"></activity>
        <activity android:name=".Presentacion.Chat_Medico"
                  android:label="Chat con Medico">
        </activity>

        <activity
            android:name=".Presentacion.MainActivity"
            android:label="@string/app_name" >
        </activity>

        <receiver
            android:name=".Servicio.InternetBroadCastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE" />

            </intent-filter>

        </receiver>
    </application>

</manifest>
